<p style="font-size:0.75em">
  {% t footer.attribution %}
  <br>

  {% if site.credits != nil and site.credits != ""   %}
    {{ site.credits }}
    <br>
  {% endif %}
  
  {% assign subtitle = t site.subtitle %}
  {% if subtitle != nil and subtitle != "" %}
    {% subtitle %}
    <br>
  {% endif %}

  {% if site.license_name != nil %}
    {% t footer.license %}
    {% if site.license_url != nil %}
      <a rel="license" target="_blank" href="{{ site.license_url }}">
    {% endif %}
    {{ site.license_name }}{% if site.license_url != nil %}</a>{% endif %}.
    <br>
  {% endif %}

  {% t footer.modified %}
  {% if site.lang == "en" %}
    {% assign month = site.time | date: "%B" %}

    {% case month %}
        {% when 'January' %} Jan.
        {% when 'February' %} Feb.
        {% when 'August' %} Aug.
        {% when 'September' %} Sept.
        {% when 'October' %} Oct.
        {% when 'November' %} Nov.
        {% when 'December' %} Dec.
        {% else %}{{ month }}
    {% endcase %}

    {{ site.time | date: "%-d, %Y" }}
  {% elsif site.lang == "fr" %}
    {{ site.time | date: "%-d "}}

    {% assign month = site.time | date: "%B" %}

    {% case month %}
        {% when 'January' %} {{ 'janv.' -}}
        {% when 'February' %} {{ 'févr.' -}}
        {% when 'March' %} {{ 'mars' -}}
        {% when 'April' %} {{ 'avr.' -}}
        {% when 'May' %} {{ 'mai' -}}
        {% when 'June' %} {{ 'juin' -}}
        {% when 'July' %} {{ 'juil' -}}
        {% when 'August' %} {{ 'août' -}}
        {% when 'September' %} {{ 'sept.' -}}
        {% when 'October' %} {{ 'oct.' -}}'
        {% when 'November' %} {{ 'nov.' -}}
        {% when 'December' %} {{ 'déc.' -}}
    {% endcase %}

    {{- site.time | date: ", %Y" }}
  {% endif %}


 
</p>
