// The basic two column layout

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    // stylelint-disable function-name-case
    // disable for Max(), we want to use the CSS max() function
    margin-left: Max(
      #{$nav-width},
      calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width})
    );
    // stylelint-enable function-name-case
  }
}

.main-content-wrap {
  @include container;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  display: none;
  background-color: $sidebar-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;
  }

  &.nav-open {
    display: block;

    @include mq(md) {
      display: flex;
    }
  }
}

.parent-div {
  float: left;
  padding-top: 20px;
  @include mq(sm) {
    padding-bottom: 30px;
    padding-left: 10px;
  }
  @include mq(xs) {
    padding-bottom: 30px;
    padding-left: 10px;
  }
}
.child-div {
  float: left;
  margin-right: 20px;
}

.clear {
  clear: both;
}

a.custom-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #32322f;
  padding: 13px 16px;
  background-color: #d6ab00;
  font-family: inherit;
  text-decoration: none;
}

a.custom-btn:hover {
  background-color: #ebd580;
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-5;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;
  max-height: $header-height;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  //@include container;

  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  //padding-top: $sp-3;
  //padding-bottom: $sp-3;
  color: $body-heading-color;
  //@include fs-6;

  @include mq(md) {
    //padding-top: $sp-2;
    //padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  @include container;

  display: none;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    display: block;
    padding-top: $sp-4;
    position: static;
    justify-self: end;
  }
}

.site-footer-mobile {
  padding-top: $sp-4;

  @include mq(md) {
    display: none;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}

.nav-icon {
  color: $link-color;
  height: 1.5em;
  width: 1em;
  vertical-align: text-top;
}

#websiteFooter {
  background-color: #f5f6fa;
  color: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-title {
  font-size: 32px;
  color: white;
  font-weight: 600;
}

.footer-contact {
  height: 200px;
  padding-bottom: 60px;
  padding-right: 2em;
  padding-left: 2em;
}

.footer-social {
  padding-left: 1em;
}

.footer-contact {
  margin: 10px;
}

.footer-navigation h3,
.footer-contact h3 {
  color: #272727;
  margin-bottom: 15px;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li {
  margin-bottom: 10px;
}

.footer-navigation ul li a {
  color: #272727;
  font-size: 16px;
  font-weight: 300;
  &:hover {
    color: #d6ab00;
  }
}

.copyright {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px 0 15px 0;
  color: #272727;
  &:hover {
    color: #d6ab00;
  }
}

.socials {
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-media-icon {
  font-size: 30px;
  font-weight: 400;
  color: #272727;
  background-color: rgb(229, 229, 229);
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
  text-decoration: none;
  margin: 10px 8px 0 8px;
}

.social-media-icon:hover,
.social-media-icon:focus {
  background-color: #d6ab00;
}

/** xs size breakpoint **/
@include mq(xs) {
  #websiteFooter {
    text-align: center;
    display: block;
  }
  .footer-contact {
    max-width: 100%;
    border-right-style: none;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-social {
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-navigation {
    margin: 10px;
  }
}

/** sm size breakpoint **/
@include mq(sm) {
  #websiteFooter {
    text-align: center;
    display: block;
  }
  .footer-contact {
    max-width: 100%;
    border-right-style: none;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-social {
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .footer-navigation {
    margin: 10px;
  }
}

/** md size breakpoint **/
@include mq(md) {
  #websiteFooter {
    text-align: center;
    display: block;
  }
  .footer-contact {
    max-width: 100%;
    border-right-style: none;
    padding-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
  }

  .footer-social {
    max-width: 100%;
    padding-left: 25%;
    padding-right: 25%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}

/** lg size breakpoint **/
@include mq(lg) {
  .footer-contact {
    max-width: 35%;
    border-right: 1px solid #272727 ;
  }

  .footer-social {
    max-width: 35%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}

/** xl size breakpoint **/
@include mq(xl) {
  .footer-contact {
    max-width: 35%;
    border-right: 1px solid #272727;
  }

  .footer-social {
    max-width: 35%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}

/** > xl size breakpoint **/
@media (min-width: 1401px) and (max-width: 1560px) {
  .footer-contact {
    max-width: 30%;
    border-right: 1px solid #272727;
  }

  .footer-social {
    max-width: 30%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}

@media (min-width: 1561px) and (max-width: 2000px) {
  .footer-contact {
    max-width: 25%;
    border-right: 1px solid #272727;
  }

  .footer-social {
    max-width: 25%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}

@media (min-width: 2001px) {
  .footer-contact {
    max-width: 20%;
    border-right: 1px solid #272727;
  }

  .footer-social {
    max-width: 20%;
  }

  .footer-navigation {
    margin: 10px 50px 10px 10px;
  }
}