{% capture search_placeholder %}{% include search_placeholder_custom.html %}{% endcapture %}

<div class="search">
  <div class="search-input-wrap">
    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="{{ search_placeholder | strip_html | strip }}" aria-label="{{ search_placeholder | strip_html| strip }}" autocomplete="off">
    <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon" alt="search-icon"><use xlink:href="#svg-search"></use></svg></label>
  </div>
  <div id="search-results" class="search-results"></div>
</div>

{% if site.language_switcher %}
  <div class="lang-btn fs-4">
    {% if site.lang == "fr" %}
    {% assign num = site.baseurl | size | minus: 3 %}
    <a href="{{ site.baseurl | slice: 0, num }}{{ page.url }}" class="btn btn-primary" style="color: black;">{% t site.language %}</a>
    {% elsif site.lang == "en" %}
    <a href="{{ site.baseurl }}/fr{{ page.url }}" class="btn btn-primary" style="color: black;"">{% t site.language %}</a>
    {% endif %}
  </div>  
{% endif %}
